$blackFont: #1E1F22;
$pinkFont: #FD0272;
$greyFont: #828691;
$placeholderGrey: #8E8E90;
$borderGrey: #ECEDF2;
$badgeYellow: #FFDD4D;

$primaryFont: 'Work Sans', sans-serif;


@import 'setup';
@import 'main';